<h1>Edit User Story</h1>

<% if @user_story.errors.any? %> 
    <ul>
    <% @user_story.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @user_story, url: {action: "update"} do |f| %>
  <%= label_tag "Actor" %>
  <%= f.text_field :actor %>
  </br></br></br>
  <%= label_tag "Goal" %>
  <%= f.text_field :goal %>
  </br></br></br>
  <%= label_tag "Reason" %>
  <%= f.text_field :reason %>
  </br></br></br>
  <%= label_tag "Acceptance criteria" %>
  <%= f.text_area :criteria, size: "60x12" %>
  </br></br></br>
  <%= label_tag "Priority" %>
  <%= f.text_field :priority %>
  </br></br></br>  <%= f.submit "Update" %>
<% end %>
<p><%= link_to "Cancel", project_user_story_path(@project, @user_story) %></p>
