<h1><%= @user_story.actor %></h1>
<br>
<h1><%= @user_story.goal %></h1>
<br>
<h1><%= @user_story.reason %></h1>
<br>
<h1><%= @user_story.criteria %></h1>
<br>
<h1><%= @user_story.priority %></h1>

<br>
<br>

<p><%= link_to "Delete", project_user_story_path, method: :delete, data: { confirm: "Are you sure?"} %> </p>