<h1>Edit Project - <%= @project.name%></h1>

<%= @project.errors.full_messages.first if @project.errors.any? %>

<%= form_for @project, url: {action: "update"} do |f| %>
  <%= label_tag "Name" %>
  <%= f.text_field :name %>
  </br></br></br>
  <%= label_tag "Description" %>
  <%= f.text_area :description, size: "60x12" %>
  </br></br></br>
  <%= f.submit "Update" %>
<% end %>

<p><%= link_to "Cancel", @project %></p>
